<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,29}</string>
                <key>spriteSourceSize</key>
                <string>{14,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,29}</string>
                <key>spriteSourceSize</key>
                <string>{14,29}</string>
                <key>textureRect</key>
                <string>{{1,32},{14,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hpmp.png</string>
            <key>size</key>
            <string>{16,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9c8c4cf38f4e9e630b48550c70db453:4ebd9282523711f010153a7e2298faf6:96a1d06b7cb136ccc42914647a2b8277$</string>
            <key>textureFileName</key>
            <string>hpmp.png</string>
        </dict>
    </dict>
</plist>
