<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,1},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,10},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,91},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,100},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,19},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,28},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,37},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,46},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,55},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,64},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,73},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{1,82},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>num.png</string>
            <key>size</key>
            <string>{7,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:412f76c02bf211d3a8d226fb90e87efc:d9264cf42795625b39d03387c6901c55:c8434379717a6af43528125c4e736aa8$</string>
            <key>textureFileName</key>
            <string>num.png</string>
        </dict>
    </dict>
</plist>
